@font-face {
  font-family: Lovelo;
  src: url('assets/WEB/Lovelo-Black.eot');
  src: url('assets/WEB/Lovelo-Black.eot?#iefix') format('embedded-opentype'),
  url('assets/WEB/Lovelo-Black.woff2') format('woff2'), url('assets/WEB/Lovelo-Black.woff') format('woff')
}


#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(61	64	68);
}

.whiteText {
  color: white;
}

html, #root {
  background-color: rgb(95 203 196);
  font-family: Lovelo, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
