@font-face {
  font-family: Lovelo;
  src: url('assets/WEB/Lovelo-Black.eot');
  src: url('assets/WEB/Lovelo-Black.eot?#iefix') format('embedded-opentype'),
  url('assets/WEB/Lovelo-Black.woff2') format('woff2'), url('assets/WEB/Lovelo-Black.woff') format('woff')
}

@font-face {
  font-family: Lovelo LineLight;
  src: url('assets/WEB/Lovelo-LineLight.eot');
  src: url('assets/WEB/Lovelo-LineLight.eot?#iefix') format('embedded-opentype'),
  url('assets/WEB/Lovelo-LineLight.woff2') format('woff2'), url('assets/WEB/Lovelo-LineLight.woff') format('woff')
}

@font-face {
  font-family: Lovelo LineBold;
  src: url('assets/WEB/Lovelo-LineBold.eot');
  src: url('assets/WEB/Lovelo-LineBold.eot?#iefix') format('embedded-opentype'),
  url('assets/WEB/Lovelo-LineBold.woff2') format('woff2'), url('assets/WEB/Lovelo-LineBold.woff') format('woff')
}


#root {
  margin: 0 auto;
  text-align: center;
  color: rgb(61	64	68);
}

.whiteText {
  color: white;
}

html, #root {
  background-color: #faf9f0;
  font-family: Lovelo, sans-serif;
}


header {
  display: grid;
  align-content: center;
  margin-top: 0;
  padding: 0;
  font-family: "Lovelo LineBold", sans-serif;
  font-size: 30px;
  justify-content: center;
  height: 15vh;
  background-color: black;
  color: white;
  margin-bottom: 5vh;
}

header h3 {
  font-family: "Lovelo LineLight", sans-serif;
}