:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #faf9f0 ;
  margin: 10px;
  border: #27456a 1px solid;
  font-size: 16px;
  padding: 10px 30px;
}

.main button:hover {
  background-color: #27456a;
  color: white;
}

.buttonContainer {
  display: block;
  margin-bottom: 5vh;
}

.main {
margin: 0 2vw;
}
.buttonContainer button {
  background-color: #faf9f0 ;
  color: black;
  border: #27456a 1px solid;

}

.exercisesListContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-bottom: 5vh;
  justify-content: center;
}

.exercisesListContainer button {
  background-color: #27456a;
  color: white;
  font-size: 14px;
  border: rgb(61 64	68) 0.5px solid;
  margin: 4px;
  padding: 5px;
}

.exercisesListContainer button:hover {
  background-color: #7bc57b;
  color: #27456a;
}

.savedWorkoutBtns {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.savedWorkoutBtns button:hover {
  background-color: indianred;
  color: #27456a;
}

.savedWorkoutBtns button{
  width: 30vw;
  background-color: #27456a;
  font-size: 14px;
  margin: 4px;
  padding: 5px;
}

.savedWorkout {
  border: rgb(61 64	68) 3px solid;
  margin: 0 3px;
  width: 25vw;
}

.workoutContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 8vh;
}

.savedWorkout h5{
  color: white;
  background-color: black;
}

.taskSelection button{
  padding: 14px;
  margin: 10px;
  border-radius: 6px;
}

.taskSelection{
  padding-bottom: 2vw;
}

.workoutSubmitBtn {
  background-color: green;
  width: 20vw;
}

.workoutSubmitBtn:hover {
  background-color: white;
}
