:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.buttonContainer {
  display: block;
  margin-bottom: 5vh;
}

.main {
margin: 0 2vw;
}
.buttonContainer button {
  margin: 10px 10px;
  background-color: #faf9f0 ;
  color: black;
  border: #27456a 1px solid;
  font-size: 18px;
  padding: 10px 30px;
}

.buttonContainer button:hover {
  background-color: #27456a;
  color: white;
}

.exercisesListContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-bottom: 5vh;
}

.exercisesListContainer button {
  background-color: #27456a;
  color: white;
  border: rgb(61	64	68) 0.5px solid;
  margin: 10px;
  padding: 10px;
}

.savedWorkoutBtns {
  display: grid;
  justify-items: center;
}


.savedWorkoutBtns button{
  width: 30vw;
  padding: 1vw;
  margin: 10px 0;
  background-color: #27456a;
}

.savedWorkout {
  border: rgb(61 64	68) 0.5px solid;
}

.workoutContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}